img{
    width: 100px;
    height: 100px;
}
h2{
    color: #c7633f;
  font-size: 1em;
}
body{
    background-color: blanchedalmond;
}

h1{
text-align: center;
  font-family: serif;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #57b1dc;
  margin-top: 30px;
}
img{
    margin: auto;
}